/* HEADER SECTION */
header{
text-align: center;
    color: white;
    background-color:#3a6ea5;
    padding: 30px 20px;
    margin-bottom: 100px;
}

.profile-card {
  align-items: center;
  border: 5px solid lightblue;
  padding: 25px;
  width: 400px;
  max-width: 400px;
}

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h3 {
  font-weight: bold;
  margin-top: 0;
}